<h1>Home Page</h1>
<form>
  <input type="text" id="first_name" placeholder="First Name">
  <input type="text" id="last_name" placeholder="Last Name">
  <input type="text" id="email" placeholder="Email">
  <input type="button" value="submit" id="create-contact">
</form>

<ul id="contact-index">

</ul>
